.menu {
  position: absolute;
  top: 17px;
  right: 15px;
  padding: 0;
}

.menuButton {
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  border-radius: 31px;
}
.menuButton:active {
  background-color: rgba(51, 51, 51, 0.1);
}

.dropdown {
  position: absolute;
  right: 0;
  top: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  background-color: var(--white);
}

.closeButton {
  background-color: var(--greyD9);
  padding: 12px 23px;
  border-radius: 0 0 3px 3px;
  width: 100%;
}

@media all and (min-width: 1024px) {
  .menu {
    position: relative;
    order: 2;
    display: flex;
    align-items: center;
    flex: 0 0;
    top: unset;
    right: unset;
    margin: 0 0 0 auto;
  }

  .menuButton {
    align-self: center;
    transform: unset;
  }
}

@media all and (min-width: 1540px) {
  .menuButton:hover {
    background-color: rgba(51, 51, 51, 0.1);
  }
}

.menuItem {
  padding-top: 12px;
  padding-bottom: 12px;
}

.menuItem:not(:last-child) {
  border-bottom: 1px solid #ececec;
}

.menuItemButton {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #999999;
}

.menuItemButton img {
  margin-right: 5px;
}

.container {
  width: 100%;
  flex: 1 1 0;
}

.listContainer {
  position: relative;
}

.list {
  position: absolute;
  min-width: 140px;
  width: 100%;
  top: 10px;
  right: 0;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  overflow: auto;
}

.menuList {
  padding-left: 20px;
  padding-right: 20px;
}

.listButton {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #666666;
  background: #d9d9d9;
}
